#all{
    margin-left: 17%;
    margin-right: 0%;
}

#all1{
    margin-left: 8%;
    margin-right: 52%;
}

#all2{
    margin-left: 28%;
    margin-right: 40%;
}

#all3{
    margin-left: 8%;
    margin-right: 51%;
}

